.container {
  text-align: center;
  background-color: black;
  color: white;
}

.insert {
  padding-left: 2%;
}

button {
  margin-bottom: 5% !important;
}

.miniScore {
  color: rgb(205, 106, 26);

}
